<div class="login-wrapper">
  <div class="card">
    <div class="card-body">
      <form class="form-signin" (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="username"><h5>Username</h5></label>
          <input
            type="text"
            id="username"
            class="form-control"
            name="username"
            placeholder="Username"
            [(ngModel)]="user.username"
            required
            #username="ngModel"
            autofocus
          />
        </div>
        <div
          [hidden]="!username.touched || username.dirty"
          class="alert alert-danger"
        >
          Name is required
        </div>
        <div class="form-group">
          <label for="password"><h5>Password</h5></label>
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            placeholder="Password"
            autocomplete="on"
            [(ngModel)]="user.password"
            required
            #password="ngModel"
          />
          <div
            [hidden]="!password.touched || password.dirty"
            class="alert alert-danger"
          >
            Password is required
          </div>
        </div>
        <div class="text-center" [hidden]="!hasError">
          <i style="color: red">Authentication Failed !</i>

          <p>Please check credentials again.</p>
        </div>
        <div class="text-center">
          <button
            class="btn btn-md btn-primary"
            type="submit"
            [disabled]="!userForm.form.valid"
          >
            Sign in
          </button>
        </div>

        <!-- <button routerLink="/" class="btn btn-danger">Cancel</button> -->
      </form>
    </div>
  </div>
</div>
