<!-- <div class="jumbotron bg-dark">
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <img src="../assets/images/travelservice.png" alt="Travel Service" />
    </div>
    <div class="col-sm-12 col-md-8">
      <h1 class="text-center text-white py-3">{{ title }}</h1>
      <ul class="text-center list-inline py-3">
        <li class="list-inline-item">
          <a routerLink="/login" class="btn btn-info btn-lg"
            ><strong>Login</strong></a
          >
        </li>
        <li class="list-inline-item">
          <a routerLink="/signup" class="btn btn-info btn-lg"
            ><strong>Signup</strong></a
          >
        </li>
      </ul>
    </div>
  </div>
</div> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- <nav
  class="navbar navbar-expand-md navbar-dark bg-dark"
  *ngIf="authenticationService.isAuthenticated"
>
  <a class="navbar-brand" routerLink="/home">Travel Management</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExample04"
    aria-controls="navbarsExample04"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/add-travel">Add Journey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-travel">View Journey</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item pointer">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->
