<div class="row">
  <div
    class="col-4"
    style="margin-left: auto; margin-right: auto; margin-bottom: 50px"
  >
    <div class="card" style="margin-top: 0px">
      <div class="card-body">
        <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
          <div class="form-group">
            <label for="username"><h5>Username</h5></label>
            <input
              type="text"
              [(ngModel)]="user.username"
              class="form-control"
              id="username"
              name="username"
              placeholder="UserName"
              required
              #username="ngModel"
            />
          </div>
          <div class="text-center" [hidden]="!hasError">
            <i style="color: red">Username already exists !</i>
          </div>
          <div
            [hidden]="!username.touched || username.dirty"
            class="alert alert-danger"
          >
            <i> Name is required</i>
          </div>
          <div class="form-group">
            <label for="password"><h5>Password</h5></label>
            <input
              type="password"
              [(ngModel)]="user.password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
              required
              #password="ngModel"
            />

            <div
              [hidden]="!password.touched || password.dirty"
              class="alert alert-danger"
            >
              <i>Password is required</i>
            </div>
          </div>

          <div class="text-center" [hidden]="!error">
            <i style="color: red">{{ error.message }}</i>
          </div>
          <div class="text-center">
            <li class="list-inline-item">
              <button
                type="submit"
                [disabled]="!userForm.form.valid"
                class="btn btn-success"
              >
                Sign Up
              </button>
            </li>
            <!-- <li class="list-inline-item">
              <a routerLink="/" class="btn btn-danger">Cancel</a>
            </li> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
